SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_ActivateUser]
  @email          VARCHAR(254),
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_ActivateUser
  -- Purpose   : Activates a registered user account identified by
  --             email, typically called after email confirmation
  --             link is clicked. Guards against unknown email and
  --             double-activation.
  -- ============================================================
  -- Parameters:
  --   @email         - Email address identifying the user
  --   @result_code    OUT - 0 = success, 1 = not found,
  --                         2 = already active, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Account activated successfully
  --   1  - No user found with the supplied email
  --   2  - Account was already active
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Check if user exists
    IF NOT EXISTS (SELECT 1 FROM t_user WHERE email = @email)
    BEGIN
      SET @result_code = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    -- Check if already active
    IF EXISTS (SELECT 1 FROM t_user WHERE email = @email AND is_active = 1)
    BEGIN
      SET @result_code = 2;
      SET @result_message = 'Account already active';
      RETURN;
    END

    -- Activate user
    UPDATE t_user
    SET is_active = 1
    WHERE email = @email;

    SET @result_code = 0;
    SET @result_message = 'Account activated successfully';
  END TRY
  BEGIN CATCH
    SET @result_code = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
