SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_CreateSession]
  @user_id        INT,
  @token          VARCHAR(512),
  @refresh_token  VARCHAR(512),
  @expiry_date    DATETIME2,
  @device_info    VARCHAR(500),
  @session_id     INT OUTPUT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_CreateSession
  -- Purpose   : Enforces single-session-per-user by removing any
  --             existing active session, then inserts a new session
  --             record with the supplied tokens and device info.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the authenticated user
  --   @token         - New access token
  --   @refresh_token - New refresh token
  --   @expiry_date   - Expiry datetime for the access token
  --   @device_info   - Client device/platform description
  --   @session_id     OUT - Identity of the newly created session row
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Session created successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Enforce single active session per user
    DELETE t_session
    WHERE user_id = @user_id
      AND is_active = 1;

    -- Insert new session
    INSERT t_session (user_id, token, refresh_token, expiry_date, device_info, is_active, created_date)
      VALUES (@user_id, @token, @refresh_token, @expiry_date, @device_info, 1, GETUTCDATE());

    SELECT @session_id = SCOPE_IDENTITY(), @result_code = 0, @result_message = 'Session created successfully';
  END TRY
  BEGIN CATCH
    SELECT @session_id = NULL, @result_code = 99, @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
