SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_CompleteQuiz]
  @attempt_id      SMALLINT,
  @user_id         INT,
  @final_score     DECIMAL(5,2) OUTPUT,
  @correct_answers TINYINT OUTPUT,
  @total_questions TINYINT OUTPUT,
  @passed          BIT OUTPUT,
  @result_code     INT OUTPUT,
  @result_message  NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_CompleteQuiz
  -- Purpose   : Finalises an in-progress quiz attempt by
  --             calculating the final score, setting the passed
  --             flag, and stamping the attempt as completed.
  --             Score is calculated as a percentage of correct
  --             answers over total answers recorded in
  --             t_user_answer (not total_questions on the quiz),
  --             so unanswered questions reduce the score.
  --             passing_score was removed from t_quiz; the pass
  --             threshold is hardcoded at 70% until a replacement
  --             mechanism is designed.
  --             Attempting to complete an already-completed
  --             attempt is rejected (result code 2).
  -- ============================================================
  -- Parameters:
  --   @attempt_id       - ID of the attempt to complete
  --   @user_id          - ID of the authenticated user (ownership check)
  --   @final_score       OUT - Percentage score (0.00–100.00)
  --   @correct_answers   OUT - Count of correct answers recorded
  --   @total_questions   OUT - Count of answers recorded (attempted)
  --   @passed            OUT - 1 = score >= 70%, 0 = below threshold
  --   @result_code       OUT - 0 = success, 1 = attempt not found,
  --                            2 = already completed, 99 = error
  --   @result_message    OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Quiz completed and attempt finalised successfully
  --   1  - Attempt not found or does not belong to this user
  --   2  - Attempt was already completed
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    DECLARE @quiz_id SMALLINT;

    -- Validate attempt exists and belongs to this user
    SELECT @quiz_id = quiz_id
    FROM t_user_quiz_attempt
    WHERE attempt_id = @attempt_id
      AND user_id    = @user_id;

    IF @quiz_id IS NULL
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'Quiz attempt not found';
      RETURN;
    END

    -- Reject double-completion
    IF EXISTS (
      SELECT 1 FROM t_user_quiz_attempt
      WHERE attempt_id   = @attempt_id
        AND is_completed = 1
    )
    BEGIN
      SET @result_code    = 2;
      SET @result_message = 'Quiz already completed';
      RETURN;
    END

    -- Tally answers recorded for this attempt
    SELECT
      @correct_answers = SUM(CASE WHEN is_correct = 1 THEN 1 ELSE 0 END),
      @total_questions = COUNT(*)
    FROM t_user_answer
    WHERE attempt_id = @attempt_id;

    -- Score as percentage; 0 if no answers recorded
    SET @final_score = CASE
      WHEN @total_questions > 0
      THEN CAST(@correct_answers AS DECIMAL(5,2)) / @total_questions * 100
      ELSE 0
    END;

    -- Pass threshold: 70% (hardcoded — passing_score removed from t_quiz)
    SET @passed = CASE WHEN @final_score >= 70.0 THEN 1 ELSE 0 END;

    -- Stamp attempt as completed
    UPDATE t_user_quiz_attempt
    SET
      is_completed   = 1,
      score          = @final_score,
      completed_date = GETUTCDATE()
    WHERE attempt_id = @attempt_id;

    SET @result_code    = 0;
    SET @result_message = 'Quiz completed successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
