SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_DeactivateUser]
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_DeactivateUser
  -- Purpose   : Deactivates a user account by user_id and
  --             invalidates all associated active sessions.
  --             Uses @@ROWCOUNT after the UPDATE as the existence
  --             check to avoid a redundant pre-flight SELECT.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the user to deactivate
  --   @result_code    OUT - 0 = success, 1 = user not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - User deactivated and sessions invalidated successfully
  --   1  - No user found with the supplied user_id
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Deactivate user
    UPDATE t_user
    SET is_active = 0
    WHERE user_id = @user_id;

    IF @@ROWCOUNT <> 1
    BEGIN
      SET @result_code = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    -- Invalidate all active sessions for this user
    DELETE t_session
    WHERE user_id = @user_id;

    SET @result_code = 0;
    SET @result_message = 'User deactivated successfully';
  END TRY
  BEGIN CATCH
    SET @result_code = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
