SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetAdminDashboard]
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetAdminDashboard
  -- Purpose   : Returns four result sets for the admin dashboard.
  --             No parameters beyond the standard output pair —
  --             all metrics are platform-wide aggregates.
  --             Intended for admin use only; authorization must
  --             be enforced by the caller.
  -- ============================================================
  -- Parameters:
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Sets:
  --   #1 - Platform-wide stats (1 row):
  --          TotalRegisteredUsers   INT  (active users)
  --          UsersWhoTookQuizzes    INT  (distinct users with attempts)
  --          TotalQuizAttempts      INT
  --          CompletedQuizzes       INT
  --          AverageScore           FLOAT (completed attempts only)
  --          QuizzesLast7Days       INT  (completed in last 7 days)
  --          NewUsersLast7Days      INT
  --   #2 - Top 10 quizzes by completed attempt count:
  --          QuizId                 INT
  --          QuizTitle              VARCHAR
  --          AttemptCount           INT
  --          AverageScore           FLOAT
  --   #3 - 10 most recently registered active users:
  --          UserId                 INT
  --          UserName               VARCHAR
  --          Email                  VARCHAR
  --          CreatedDate            DATETIME2
  --   #4 - Active user count (1 row):
  --          ActiveUsers30Days      INT  (users with attempts in last 30 days)
  -- ============================================================
  -- Result Codes:
  --   0  - Data retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Result set 1: platform-wide aggregate stats
    SELECT
      (SELECT COUNT(*)           FROM t_user             WHERE is_active = 1)                                   AS TotalRegisteredUsers,
      (SELECT COUNT(DISTINCT user_id) FROM t_user_quiz_attempt)                                                 AS UsersWhoTookQuizzes,
      (SELECT COUNT(*)           FROM t_user_quiz_attempt)                                                      AS TotalQuizAttempts,
      (SELECT COUNT(*)           FROM t_user_quiz_attempt WHERE is_completed = 1)                               AS CompletedQuizzes,
      (SELECT AVG(score)         FROM t_user_quiz_attempt WHERE is_completed = 1)                               AS AverageScore,
      (SELECT COUNT(*)           FROM t_user_quiz_attempt WHERE completed_date >= DATEADD(DAY, -7, GETUTCDATE())) AS QuizzesLast7Days,
      (SELECT COUNT(*)           FROM t_user             WHERE created_date   >= DATEADD(DAY, -7, GETUTCDATE())) AS NewUsersLast7Days;

    -- Result set 2: top 10 quizzes by completed attempt count
    SELECT TOP 10
      q.quiz_id                  AS QuizId,
      q.quiz_title               AS QuizTitle,
      COUNT(a.attempt_id)        AS AttemptCount,
      AVG(a.score)               AS AverageScore
    FROM t_quiz q
    LEFT JOIN t_user_quiz_attempt a ON q.quiz_id = a.quiz_id
                                   AND a.is_completed = 1
    GROUP BY q.quiz_id, q.quiz_title
    ORDER BY COUNT(a.attempt_id) DESC;

    -- Result set 3: 10 most recently registered active users
    SELECT TOP 10
      user_id      AS UserId,
      user_name    AS UserName,
      email        AS Email,
      created_date AS CreatedDate
    FROM t_user
    WHERE is_active = 1
    ORDER BY created_date DESC;

    -- Result set 4: distinct active users in the last 30 days
    SELECT
      COUNT(DISTINCT user_id) AS ActiveUsers30Days
    FROM t_user_quiz_attempt
    WHERE started_date >= DATEADD(DAY, -30, GETUTCDATE());

    SET @result_code    = 0;
    SET @result_message = 'Admin dashboard data retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
