SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetUserReadingProgress]
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetUserReadingProgress
  -- Purpose   : Returns three result sets summarising a user's
  --             reading progress across lessons and topics.
  --             Inactive modules and lessons are excluded from
  --             the per-module breakdown (result set 3), but
  --             t_user_lesson_read and t_user_topic_read are
  --             not filtered by is_active — historical read
  --             records for since-deactivated content are
  --             still counted in the overall stats (result set 1).
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the authenticated user
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Sets:
  --   #1 - Overall platform-wide stats (1 row):
  --          TotalLessons   INT  (active lessons)
  --          LessonsRead    INT  (lessons read by this user)
  --          TotalTopics    INT  (active topics)
  --          TopicsRead     INT  (topics read by this user)
  --   #2 - 10 most recently read lessons:
  --          LessonTitle    VARCHAR
  --          ModuleName     VARCHAR
  --          ReadDate       DATETIME2
  --   #3 - Per-module progress (active modules only, ordered by module_id):
  --          ModuleId       INT
  --          ModuleName     VARCHAR
  --          TotalLessons   INT  (active lessons in this module)
  --          LessonsRead    INT  (active lessons read by this user)
  -- ============================================================
  -- Result Codes:
  --   0  - Progress retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Result set 1: overall stats
    SELECT
      (SELECT COUNT(1) FROM t_lesson           WHERE is_active  = 1)          AS TotalLessons,
      (SELECT COUNT(1) FROM t_user_lesson_read WHERE user_id    = @user_id)    AS LessonsRead,
      (SELECT COUNT(1) FROM t_topic            WHERE is_active  = 1)           AS TotalTopics,
      (SELECT COUNT(1) FROM t_user_topic_read  WHERE user_id    = @user_id)    AS TopicsRead;

    -- Result set 2: 10 most recently read lessons
    SELECT TOP 10
      l.lesson_title  AS LessonTitle,
      m.module_name   AS ModuleName,
      ulr.read_date   AS ReadDate
    FROM t_user_lesson_read ulr
    INNER JOIN t_lesson l ON l.lesson_id = ulr.lesson_id
    INNER JOIN t_module m ON m.module_id = l.module_id
    WHERE ulr.user_id = @user_id
    ORDER BY ulr.read_date DESC;

    -- Result set 3: per-module progress (active modules and lessons only)
    SELECT
      m.module_id                   AS ModuleId,
      m.module_name                 AS ModuleName,
      COUNT(DISTINCT l.lesson_id)   AS TotalLessons,
      COUNT(DISTINCT ulr.lesson_id) AS LessonsRead
    FROM t_module m
    LEFT JOIN t_lesson l          ON l.module_id  = m.module_id
                                 AND l.is_active  = 1
    LEFT JOIN t_user_lesson_read ulr ON ulr.lesson_id = l.lesson_id
                                    AND ulr.user_id   = @user_id
    WHERE m.is_active = 1
    GROUP BY m.module_id, m.module_name
    ORDER BY m.module_id;

    SET @result_code    = 0;
    SET @result_message = 'Progress retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
