SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetLessonsByModule]
  @module_id      SMALLINT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetLessonsByModule
  -- Purpose   : Returns all active lessons for a given module,
  --             ordered by display_order, enriched with per-user
  --             topic read progress and a derived IsCompleted flag.
  --             CROSS APPLY is used to compute TopicCount and
  --             CompletedTopics once per lesson row, avoiding the
  --             repeated correlated subquery execution the original
  --             required to derive IsCompleted.
  --             Returns an empty result set (not result code 1)
  --             when the module has no active lessons.
  -- ============================================================
  -- Parameters:
  --   @module_id     - ID of the module whose lessons to retrieve
  --   @user_id       - ID of the authenticated user (for progress)
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (one row per active lesson, ordered by display_order):
  --   LessonId          INT
  --   LessonTitle       VARCHAR
  --   DisplayOrder      INT
  --   TopicCount        INT   (active topics in this lesson)
  --   CompletedTopics   INT   (active topics read by this user)
  --   IsCompleted       BIT   (1 = all active topics read; 0 otherwise
  --                            or when lesson has no topics)
  -- ============================================================
  -- Result Codes:
  --   0  - Lessons retrieved successfully (may be empty)
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      l.lesson_id                                                    AS LessonId,
      l.lesson_title                                                 AS LessonTitle,
      l.display_order                                                AS DisplayOrder,
      tc.TopicCount                                                  AS TopicCount,
      tc.CompletedTopics                                             AS CompletedTopics,
      CASE WHEN tc.TopicCount > 0
            AND tc.TopicCount = tc.CompletedTopics THEN 1 ELSE 0
      END                                                            AS IsCompleted
    FROM t_lesson l
    CROSS APPLY (
      SELECT
        COUNT(*)                                        AS TopicCount,
        COUNT(DISTINCT CASE WHEN utr.topic_id IS NOT NULL
                            THEN t.topic_id END)        AS CompletedTopics
      FROM t_topic t
      LEFT JOIN t_user_topic_read utr ON utr.topic_id = t.topic_id
                                     AND utr.user_id  = @user_id
      WHERE t.lesson_id = l.lesson_id
        AND t.is_active = 1
    ) tc
    WHERE l.module_id = @module_id
      AND l.is_active = 1
    ORDER BY l.display_order, l.lesson_id;

    SET @result_code    = 0;
    SET @result_message = 'Lessons retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
