SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetUserDashboard]
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetUserDashboard
  -- Purpose   : Returns two result sets for the authenticated
  --             user's dashboard:
  --               1. Aggregate stats across all quiz attempts
  --                  (total attempted, completed, avg score,
  --                  total correct answers).
  --               2. The 10 most recent quiz attempts with title,
  --                  score, completion status, and completed date.
  --             No user existence check is performed — both
  --             result sets return empty/zero rows naturally if
  --             the user has no attempts on record.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the authenticated user
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Sets:
  --   #1 - Aggregate stats (1 row):
  --          total_quizzes_attempted  INT
  --          total_quizzes_completed  INT
  --          average_score            FLOAT  (NULL if none completed)
  --          total_correct_answers    INT
  --   #2 - Recent attempts (up to 10 rows, newest first):
  --          attempt_id               INT
  --          quiz_title               VARCHAR
  --          score                    FLOAT
  --          completed_date           DATETIME2
  --          is_completed             BIT
  -- ============================================================
  -- Result Codes:
  --   0  - Data retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Result set 1: aggregate stats across all attempts
    SELECT
      COUNT(*)                                                    AS total_quizzes_attempted,
      SUM(CASE WHEN is_completed = 1 THEN 1 ELSE 0 END)          AS total_quizzes_completed,
      AVG(CASE WHEN is_completed = 1 THEN score ELSE NULL END)    AS average_score,
      SUM(correct_answers)                                        AS total_correct_answers
    FROM t_user_quiz_attempt
    WHERE user_id = @user_id;

    -- Result set 2: 10 most recent attempts with quiz title
    SELECT TOP 10
      a.attempt_id,
      q.quiz_title,
      a.score,
      a.completed_date,
      a.is_completed
    FROM t_user_quiz_attempt a
    INNER JOIN t_quiz q ON a.quiz_id = q.quiz_id
    WHERE a.user_id = @user_id
    ORDER BY a.started_date DESC;

    SET @result_code    = 0;
    SET @result_message = 'Dashboard data retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
