SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetAllUsers]
  @page           INT = 1,
  @page_size      INT = 50,
  @total_count    INT OUTPUT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetAllUsers
  -- Purpose   : Returns a paginated list of all active users for
  --             the admin dashboard. Intended for admin use only —
  --             authorization must be enforced by the caller.
  --             Total active user count is returned as an output
  --             parameter so the caller can compute page count
  --             without a second round-trip.
  --             Quiz attempt counts are resolved via correlated
  --             subqueries; consider indexed views if this becomes
  --             a performance concern at scale.
  -- ============================================================
  -- Parameters:
  --   @page          - 1-based page number (default 1)
  --   @page_size     - Rows per page (default 50)
  --   @total_count    OUT - Total number of active users (for pagination)
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (up to @page_size rows, newest first):
  --   UserId           INT
  --   UserName         VARCHAR
  --   Email            VARCHAR
  --   Phone            VARCHAR
  --   RoleName         VARCHAR
  --   CreatedDate      DATETIME2
  --   LastLoginDate    DATETIME2
  --   TotalAttempts    INT  (all quiz attempts for this user)
  --   CompletedQuizzes INT  (completed quiz attempts for this user)
  -- ============================================================
  -- Result Codes:
  --   0  - Users retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    DECLARE @offset INT = (@page - 1) * @page_size;

    -- Total active user count (for caller-side pagination)
    SELECT @total_count = COUNT(*)
    FROM t_user
    WHERE is_active = 1;

    -- Paginated user list, newest first
    SELECT
      u.user_id                                                                        AS UserId,
      u.user_name                                                                      AS UserName,
      u.email                                                                          AS Email,
      u.phone                                                                          AS Phone,
      r.role_name                                                                      AS RoleName,
      u.created_date                                                                   AS CreatedDate,
      u.last_login_date                                                                AS LastLoginDate,
      (SELECT COUNT(1) FROM t_user_quiz_attempt WHERE user_id = u.user_id)             AS TotalAttempts,
      (SELECT COUNT(1) FROM t_user_quiz_attempt WHERE user_id = u.user_id
                                                  AND is_completed = 1)                AS CompletedQuizzes
    FROM t_user u
    INNER JOIN t_role r ON u.role_id = r.role_id
    WHERE u.is_active = 1
    ORDER BY u.created_date DESC
    OFFSET @offset ROWS
    FETCH NEXT @page_size ROWS ONLY;

    SET @result_code    = 0;
    SET @result_message = 'Users retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT 
