SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetQuizResults]
  @attempt_id     INT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetQuizResults
  -- Purpose   : Returns the full results for a completed quiz
  --             attempt in two result sets: a summary header and
  --             a per-question breakdown with the user's answers,
  --             correctness, explanation, and correct answer IDs.
  --             The attempt must belong to the requesting user;
  --             results for in-progress attempts are also returned
  --             (is_completed is not checked) so partial reviews
  --             are possible if needed by the caller.
  --             PassingScore is returned as NULL  the column was
  --             removed from t_quiz; the 70% threshold applied in
  --             sp_CompleteQuiz is mirrored here for the Passed flag.
  --             Questions with no user answer are included via
  --             LEFT JOIN  unanswered questions show NULL for
  --             UserAnswerJson and IsCorrect.
  -- ============================================================
  -- Parameters:
  --   @attempt_id    - ID of the attempt to retrieve results for
  --   @user_id       - ID of the authenticated user (ownership check)
  --   @result_code    OUT - 0 = success, 1 = attempt not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Sets:
  --   #1 - Attempt summary (1 row):
  --          AttemptId       INT
  --          QuizTitle       VARCHAR
  --          StartedDate     DATETIME2
  --          CompletedDate   DATETIME2    (NULL if still in progress)
  --          Score           DECIMAL(5,2) (NULL if still in progress)
  --          CorrectAnswers  INT
  --          TotalQuestions  TINYINT
  --          PassingScore    NULL         (reserved; removed from schema)
  --          Passed          BIT          (1 = score >= 70%)
  --   #2 - Per-question breakdown (one row per quiz question):
  --          QuestionId          INT
  --          QuestionText        VARCHAR
  --          QuestionImagePath   VARCHAR    (NULL if no image)
  --          QuestionType        VARCHAR
  --          UserAnswerJson      NVARCHAR   (NULL if unanswered)
  --          IsCorrect           BIT        (NULL if unanswered)
  --          Explanation         NVARCHAR
  --          CorrectAnswers      VARCHAR    (comma-separated answer_ids)
  -- ============================================================
  -- Result Codes:
  --   0  - Results retrieved successfully
  --   1  - Attempt not found or does not belong to this user
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  DECLARE @sql NVARCHAR(MAX) = CONCAT('@attempt_id = ', CASE WHEN @attempt_id IS NULL THEN 'NULL' ELSE CAST(@attempt_id AS VARCHAR(MAX)) END,'@user_id = ', CASE WHEN @user_id IS NULL THEN 'NULL' ELSE CAST(@user_id AS VARCHAR(MAX)) END)  ; INSERT debug select getdate(),  object_name(@@PROCID), @sql
  BEGIN TRY
    -- Validate attempt exists and belongs to this user
    IF NOT EXISTS (
      SELECT 1 FROM t_user_quiz_attempt
      WHERE attempt_id = @attempt_id
        AND user_id    = @user_id
    )
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'Quiz attempt not found';
      RETURN;
    END

    -- Result set 1: attempt summary
    SELECT
      a.attempt_id                                AS AttemptId,
      q.quiz_title                                AS QuizTitle,
      a.started_date                              AS StartedDate,
      a.completed_date                            AS CompletedDate,
      -- For incomplete attempts score is NULL in DB; calculate partial score live
      COALESCE(
        a.score,
        CASE WHEN q.total_questions > 0
             THEN CAST(
                    (SELECT COUNT(*) FROM t_user_answer
                     WHERE attempt_id = a.attempt_id AND is_correct = 1)
                    AS DECIMAL(5,2)) / q.total_questions * 100.0
             ELSE 0.0
        END
      )                                               AS Score,
      (SELECT COUNT(*)
       FROM t_user_answer
       WHERE attempt_id = a.attempt_id
         AND is_correct = 1)                      AS CorrectAnswers,
      q.total_questions                           AS TotalQuestions,
      NULL                                        AS PassingScore,  -- reserved; removed from schema
      CASE WHEN a.score >= 70.0 THEN 1 ELSE 0 END AS Passed         -- mirrors sp_CompleteQuiz threshold
    FROM t_user_quiz_attempt a
    INNER JOIN t_quiz q ON q.quiz_id = a.quiz_id
    WHERE a.attempt_id = @attempt_id;

    -- Result set 2: per-question breakdown (unanswered questions included via LEFT JOIN)
    SELECT
      q.question_id                                        AS QuestionId,
      q.question_text                                      AS QuestionText,
      q.question_image_path                                AS QuestionImagePath,
      qt.question_type                                     AS QuestionType,
      ua.user_answer_json                                  AS UserAnswerJson,
      ua.is_correct                                        AS IsCorrect,
      q.explanation                                        AS Explanation,
      (SELECT STRING_AGG(CAST(answer_id AS VARCHAR), ',')
       FROM t_answer
       WHERE question_id = q.question_id
         AND is_correct  = 1)                              AS CorrectAnswers
    FROM t_question q
    INNER JOIN t_question_type qt ON qt.question_type_id = q.question_type_id
    LEFT  JOIN t_user_answer   ua ON ua.question_id      = q.question_id
                                 AND ua.attempt_id       = @attempt_id
    WHERE q.quiz_id = (SELECT quiz_id FROM t_user_quiz_attempt WHERE attempt_id = @attempt_id)
    ORDER BY ua.answered_date;

    SET @result_code    = 0;
    SET @result_message = 'Quiz results retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
