SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetModules]
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetModules
  -- Purpose   : Returns all modules ordered by display_order,
  --             enriched with per-user lesson completion progress.
  --             Inactive modules and lessons are included — filter
  --             by is_active in the caller if needed.
  --             CompletedLessons counts distinct lessons the user
  --             has marked read, derived from a pre-filtered
  --             subquery on t_user_lesson_read to avoid inflating
  --             the count via the LEFT JOINs.
  --             Returns an empty result set when no modules exist.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the authenticated user (for progress)
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (one row per module, ordered by display_order):
  --   ModuleId          INT
  --   ModuleName        VARCHAR
  --   Description       VARCHAR
  --   DisplayOrder      INT
  --   LessonCount       INT   (total lessons in this module)
  --   CompletedLessons  INT   (lessons read by this user)
  -- ============================================================
  -- Result Codes:
  --   0  - Modules retrieved successfully (may be empty)
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      m.module_id                   AS ModuleId,
      m.module_name                 AS ModuleName,
      m.description                 AS Description,
      m.display_order               AS DisplayOrder,
      COUNT(DISTINCT l.lesson_id)   AS LessonCount,
      COUNT(DISTINCT ulr.lesson_id) AS CompletedLessons
    FROM t_module m
    LEFT JOIN t_lesson l ON l.module_id = m.module_id
    LEFT JOIN (
      SELECT DISTINCT lesson_id
      FROM t_user_lesson_read
      WHERE user_id = @user_id
    ) ulr ON ulr.lesson_id = l.lesson_id
    GROUP BY m.module_id, m.module_name, m.description, m.display_order
    ORDER BY m.display_order;

    SET @result_code    = 0;
    SET @result_message = 'Modules retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
