SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetAllLessons]
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetAllLessons
  -- Purpose   : Returns all active lessons across all active
  --             modules, enriched with per-user read progress.
  --             Intended for the lesson browse/search screen.
  --             Lessons and modules flagged is_active = 0 are
  --             excluded. Results are ordered by module then
  --             lesson display_order for consistent UI rendering.
  --             Topic counts are resolved via correlated
  --             subqueries; consider indexed views if this becomes
  --             a performance concern at scale.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the authenticated user (for progress)
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (one row per active lesson, ordered by module then lesson):
  --   LessonId       INT
  --   LessonTitle    VARCHAR
  --   FileName       VARCHAR  (markdown/content file reference)
  --   ModuleId       INT
  --   ModuleName     VARCHAR
  --   IsRead         BIT      (1 = user has read this lesson)
  --   TotalTopics    INT      (active topics in this lesson)
  --   TopicsRead     INT      (topics read by this user in this lesson)
  -- ============================================================
  -- Result Codes:
  --   0  - Lessons retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      l.lesson_id                                                          AS LessonId,
      l.lesson_title                                                       AS LessonTitle,
      l.file_name                                                          AS FileName,
      m.module_id                                                          AS ModuleId,
      m.module_name                                                        AS ModuleName,
      CASE WHEN ulr.user_id IS NOT NULL THEN 1 ELSE 0 END                 AS IsRead,
      (SELECT COUNT(*)
       FROM t_topic
       WHERE lesson_id = l.lesson_id
         AND is_active = 1)                                                AS TotalTopics,
      (SELECT COUNT(*)
       FROM t_topic t
       INNER JOIN t_user_topic_read utr ON t.topic_id = utr.topic_id
       WHERE t.lesson_id = l.lesson_id
         AND utr.user_id = @user_id)                                       AS TopicsRead
    FROM t_lesson l
    INNER JOIN t_module m         ON l.module_id  = m.module_id
    LEFT  JOIN t_user_lesson_read ulr ON l.lesson_id = ulr.lesson_id
                                    AND ulr.user_id  = @user_id
    WHERE l.is_active = 1
      AND m.is_active = 1
    ORDER BY m.display_order, l.display_order;

    SET @result_code    = 0;
    SET @result_message = 'Lessons retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
