SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetUserForLogin]
  @identifier     VARCHAR(254),
  @user_id        INT OUTPUT,
  @user_name      VARCHAR(24) OUTPUT,
  @email          VARCHAR(254) OUTPUT,
  @password_hash  NVARCHAR(200) OUTPUT,
  @role_id        TINYINT OUTPUT,
  @role_name      VARCHAR(32) OUTPUT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetUserForLogin
  -- Purpose   : Retrieves user credentials and role for login
  --             validation. Looks up by email or phone without
  --             an is_active filter so unconfirmed accounts can
  --             be detected and reported distinctly from unknown
  --             identifiers. Password hash is withheld for
  --             unconfirmed accounts to prevent offline cracking.
  -- ============================================================
  -- Parameters:
  --   @identifier    - Email or phone number supplied at login
  --   @user_id        OUT - Resolved user ID
  --   @user_name      OUT - Display name of the user
  --   @email          OUT - Confirmed email on record
  --   @password_hash  OUT - Stored hash (NULL if account unconfirmed)
  --   @role_id        OUT - Numeric role assigned to the user
  --   @role_name      OUT - Human-readable role label
  --   @result_code    OUT - 0 = success, 1 = not found,
  --                         2 = unconfirmed, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - User found, active, credentials returned
  --   1  - No user matched the supplied identifier
  --   2  - Account exists but is not yet confirmed (hash withheld)
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    DECLARE @is_active BIT;

    -- Lookup by email or phone; no is_active filter (see purpose above)
    SELECT TOP 1
      @user_id       = u.user_id,
      @user_name     = u.user_name,
      @email         = u.email,
      @password_hash = u.password_hash,
      @role_id       = u.role_id,
      @role_name     = r.role_name,
      @is_active     = u.is_active
    FROM t_user u
    JOIN t_role r ON u.role_id = r.role_id
    WHERE u.email = @identifier
      OR u.phone = @identifier;

    IF @user_id IS NULL
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    -- Reject unconfirmed accounts; withhold hash to prevent offline cracking
    IF @is_active <> 1
    BEGIN
      SET @password_hash  = NULL;
      SET @result_code    = 2;
      SET @result_message = 'Account not confirmed. Please check your email for the confirmation link.';
      RETURN;
    END

    SET @result_code    = 0;
    SET @result_message = 'User retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
