SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetQuizDetails]
  @quiz_id        SMALLINT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetQuizDetails
  -- Purpose   : Returns header details for a single active quiz
  --             identified by quiz_id, enriched with the
  --             requesting user's attempt stats.
  --             QuizDescription and PassingScore are returned as
  --             NULL — these columns were removed from t_quiz but
  --             are kept as placeholders to avoid breaking existing
  --             client DTOs until a coordinated client update is
  --             deployed.
  --             Returns result code 1 if the quiz does not exist
  --             or is inactive.
  -- ============================================================
  -- Parameters:
  --   @quiz_id       - ID of the quiz to retrieve
  --   @user_id       - ID of the authenticated user (for attempt stats)
  --   @result_code    OUT - 0 = success, 1 = quiz not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (1 row on success):
  --   QuizId           INT
  --   QuizTitle        VARCHAR
  --   QuizDescription  NULL     (reserved; removed from schema)
  --   TotalQuestions   TINYINT
  --   PassingScore     NULL     (reserved; removed from schema)
  --   CategoryName     VARCHAR
  --   UserAttempts     INT      (total attempts by this user)
  --   UserBestScore    FLOAT    (best score on completed attempts; NULL if none)
  -- ============================================================
  -- Result Codes:
  --   0  - Quiz details retrieved successfully
  --   1  - Quiz not found or inactive
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      q.quiz_id                                                             AS QuizId,
      q.quiz_title                                                          AS QuizTitle,
      NULL                                                                  AS QuizDescription,  -- reserved; removed from schema
      q.total_questions                                                     AS TotalQuestions,
      NULL                                                                  AS PassingScore,      -- reserved; removed from schema
      c.category_name                                                       AS CategoryName,
      ISNULL((SELECT COUNT(*)
              FROM t_user_quiz_attempt
              WHERE user_id = @user_id
                AND quiz_id = q.quiz_id), 0)                                AS UserAttempts,
      (SELECT MAX(score)
       FROM t_user_quiz_attempt
       WHERE user_id      = @user_id
         AND quiz_id      = q.quiz_id
         AND is_completed = 1)                                              AS UserBestScore
    FROM t_quiz q
    INNER JOIN t_category c ON c.category_id = q.category_id
    WHERE q.quiz_id   = @quiz_id
      AND q.is_active = 1;

    IF @@ROWCOUNT = 0
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'Quiz not found';
      RETURN;
    END

    SET @result_code    = 0;
    SET @result_message = 'Quiz details retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
