SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetLessonDetails]
  @lesson_id      SMALLINT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetLessonDetails
  -- Purpose   : Returns header details for a single active lesson
  --             identified by lesson_id, enriched with the
  --             requesting user's read status and read date.
  --             Returns result code 1 if the lesson does not
  --             exist or is inactive (is_active = 0).
  --             Topic count is resolved via a correlated subquery
  --             (active topics only).
  -- ============================================================
  -- Parameters:
  --   @lesson_id     - ID of the lesson to retrieve
  --   @user_id       - ID of the authenticated user (for progress)
  --   @result_code    OUT - 0 = success, 1 = not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (1 row on success):
  --   LessonId       SMALLINT
  --   ModuleId       INT
  --   LessonTitle    VARCHAR
  --   FileName       VARCHAR  (markdown/content file reference)
  --   ModuleName     VARCHAR
  --   IsRead         BIT      (1 = user has read this lesson)
  --   ReadDate       DATETIME2 (NULL if not yet read)
  --   TotalTopics    INT      (active topics in this lesson)
  -- ============================================================
  -- Result Codes:
  --   0  - Lesson details retrieved successfully
  --   1  - Lesson not found or inactive
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      l.lesson_id                                          AS LessonId,
      l.module_id                                          AS ModuleId,
      l.lesson_title                                       AS LessonTitle,
      l.file_name                                          AS FileName,
      m.module_name                                        AS ModuleName,
      CASE WHEN ulr.user_id IS NOT NULL THEN 1 ELSE 0 END AS IsRead,
      ulr.read_date                                        AS ReadDate,
      (SELECT COUNT(*)
       FROM t_topic
       WHERE lesson_id = l.lesson_id
         AND is_active = 1)                                AS TotalTopics
    FROM t_lesson l
    INNER JOIN t_module m             ON l.module_id  = m.module_id
    LEFT  JOIN t_user_lesson_read ulr ON l.lesson_id  = ulr.lesson_id
                                    AND ulr.user_id   = @user_id
    WHERE l.lesson_id = @lesson_id
      AND l.is_active = 1;

    IF @@ROWCOUNT = 0
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'Lesson not found';
      RETURN;
    END

    SET @result_code    = 0;
    SET @result_message = 'Lesson details retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
