SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetUserPasswordHash]
  @user_id        INT,
  @password_hash  VARCHAR(255) OUTPUT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetUserPasswordHash
  -- Purpose   : Retrieves the stored password hash for an active
  --             user by user_id. Intended to be called before a
  --             password change so the caller can verify the
  --             current password client-side prior to invoking
  --             sp_UpdatePassword.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the user whose hash is requested
  --   @password_hash  OUT - Stored hash (NULL if user not found)
  --   @result_code    OUT - 0 = success, 1 = user not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Hash retrieved successfully
  --   1  - No active user found with the supplied user_id
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT @password_hash = password_hash
    FROM t_user
    WHERE user_id = @user_id
      AND is_active = 1;

    IF @password_hash IS NULL
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    SET @result_code    = 0;
    SET @result_message = 'Password hash retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
