SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetTopicsByLesson]
  @lesson_id      SMALLINT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetTopicsByLesson
  -- Purpose   : Returns all active topics for a given lesson,
  --             enriched with per-user read status and read date.
  --             Results are ordered by display_order — this is
  --             a contract with the client, which maps the flat
  --             list positionally to reconstruct the topic tree
  --             (H3/H4 hierarchy via parent_topic_id).
  --             Do not change the ORDER BY without updating the
  --             client mapping logic.
  --             Returns an empty result set (not result code 1)
  --             when the lesson has no active topics.
  -- ============================================================
  -- Parameters:
  --   @lesson_id     - ID of the lesson whose topics to retrieve
  --   @user_id       - ID of the authenticated user (for IsRead)
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (one row per active topic, ordered by display_order):
  --   TopicId          INT
  --   TopicTitle       VARCHAR
  --   HeadingLevel     TINYINT   (3 = H3 section, 4 = H4 sub-topic)
  --   ParentTopicId    INT       (NULL for H3; parent H3 id for H4)
  --   DisplayOrder     SMALLINT
  --   IsRead           BIT       (1 = user has read this topic)
  --   ReadDate         DATETIME2 (NULL if not yet read)
  -- ============================================================
  -- Result Codes:
  --   0  - Topics retrieved successfully (may be empty)
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      t.topic_id                                              AS TopicId,
      t.topic_title                                           AS TopicTitle,
      t.heading_level                                         AS HeadingLevel,
      t.parent_topic_id                                       AS ParentTopicId,
      t.display_order                                         AS DisplayOrder,
      CASE WHEN utr.user_id IS NOT NULL THEN 1 ELSE 0 END     AS IsRead,
      utr.read_date                                           AS ReadDate
    FROM t_topic t
    LEFT JOIN t_user_topic_read utr ON utr.topic_id = t.topic_id
                                   AND utr.user_id  = @user_id
    WHERE t.lesson_id = @lesson_id
      AND t.is_active = 1
    ORDER BY t.display_order;  -- CONTRACT: client maps positionally; do not remove

    SET @result_code    = 0;
    SET @result_message = 'Topics retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
