SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetCategoryPerformance]
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetCategoryPerformance
  -- Purpose   : Returns platform-wide attempt statistics grouped
  --             by category, for all active categories ordered by
  --             display_order. Intended for admin analytics.
  --             Only active quizzes (is_active = 1) contribute to
  --             attempt counts — attempts against since-deactivated
  --             quizzes are excluded via the LEFT JOIN condition.
  --             Categories with no active quizzes still appear
  --             (counts = 0, AverageScore = NULL) so the full
  --             category list is always represented.
  -- ============================================================
  -- Parameters:
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (one row per active category, ordered by display_order):
  --   CategoryId          INT
  --   CategoryName        VARCHAR
  --   TotalQuizzes        INT      (active quizzes in this category)
  --   TotalAttempts       INT      (all attempts on active quizzes)
  --   CompletedAttempts   INT
  --   AverageScore        DECIMAL  (completed attempts only; NULL if none)
  -- ============================================================
  -- Result Codes:
  --   0  - Category performance retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      c.category_id                                                        AS CategoryId,
      c.category_name                                                      AS CategoryName,
      COUNT(DISTINCT q.quiz_id)                                            AS TotalQuizzes,
      COUNT(a.attempt_id)                                                  AS TotalAttempts,
      SUM(CASE WHEN a.is_completed = 1 THEN 1 ELSE 0 END)                 AS CompletedAttempts,
      AVG(CASE WHEN a.is_completed = 1 THEN a.score ELSE NULL END)        AS AverageScore
    FROM t_category c
    LEFT JOIN t_quiz              q ON q.category_id = c.category_id
                                   AND q.is_active   = 1
    LEFT JOIN t_user_quiz_attempt a ON a.quiz_id     = q.quiz_id
    WHERE c.is_active = 1
    GROUP BY c.category_id, c.category_name, c.display_order
    ORDER BY c.display_order, c.category_name;

    SET @result_code    = 0;
    SET @result_message = 'Category performance retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
