SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetQuizzesByCategory]
  @category_id    SMALLINT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetQuizzesByCategory
  -- Purpose   : Returns all active quizzes for a given category,
  --             enriched with per-user attempt stats.
  --             QuizDescription and PassingScore are returned as
  --             NULL — these columns were removed from t_quiz but
  --             are kept as placeholders to avoid breaking existing
  --             client DTOs until a coordinated client update is
  --             deployed.
  --             UserAttempts, UserBestScore, and IsCompleted are
  --             resolved via correlated subqueries; consider
  --             indexed views or a CROSS APPLY if this becomes a
  --             performance concern at scale.
  -- ============================================================
  -- Parameters:
  --   @category_id   - ID of the category to filter by
  --   @user_id       - ID of the authenticated user (for attempt stats)
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (one row per active quiz, ordered by display_order then title):
  --   QuizId           INT
  --   QuizTitle        VARCHAR
  --   QuizDescription  NULL     (reserved; removed from schema)
  --   TotalQuestions   TINYINT
  --   PassingScore     NULL     (reserved; removed from schema)
  --   DisplayOrder     INT
  --   UserAttempts     INT      (total attempts by this user)
  --   UserBestScore    FLOAT    (best score on completed attempts; NULL if none)
  --   IsCompleted      BIT      (1 = at least one completed attempt)
  -- ============================================================
  -- Result Codes:
  --   0  - Quizzes retrieved successfully (may be empty)
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      q.quiz_id                                                                AS QuizId,
      q.quiz_title                                                             AS QuizTitle,
      NULL                                                                     AS QuizDescription,  -- reserved; removed from schema
      q.total_questions                                                        AS TotalQuestions,
      NULL                                                                     AS PassingScore,      -- reserved; removed from schema
      q.display_order                                                          AS DisplayOrder,
      ISNULL((SELECT COUNT(*)
              FROM t_user_quiz_attempt
              WHERE user_id = @user_id
                AND quiz_id = q.quiz_id), 0)                                   AS UserAttempts,
      (SELECT MAX(score)
       FROM t_user_quiz_attempt
       WHERE user_id    = @user_id
         AND quiz_id    = q.quiz_id
         AND is_completed = 1)                                                 AS UserBestScore,
      CASE WHEN EXISTS (
        SELECT 1 FROM t_user_quiz_attempt
        WHERE user_id    = @user_id
          AND quiz_id    = q.quiz_id
          AND is_completed = 1
      ) THEN 1 ELSE 0 END                                                      AS IsCompleted
    FROM t_quiz q
    WHERE q.category_id = @category_id
      AND q.is_active   = 1
    ORDER BY q.display_order, q.quiz_title;

    SET @result_code    = 0;
    SET @result_message = 'Quizzes retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
