SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetCategories]
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetCategories
  -- Purpose   : Returns all active categories ordered by
  --             display_order then category_name, for use in
  --             quiz browsing and filtering screens.
  --             parent_category_id supports a two-level hierarchy
  --             (NULL = top-level category, non-NULL = sub-category).
  --             Column aliases follow PascalCase convention for
  --             direct Dapper mapping without explicit column maps.
  -- ============================================================
  -- Parameters:
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (one row per active category):
  --   CategoryId         INT
  --   ParentCategoryId   INT      (NULL for top-level categories)
  --   CategoryName       VARCHAR
  --   Description        VARCHAR
  --   DisplayOrder       INT
  -- ============================================================
  -- Result Codes:
  --   0  - Categories retrieved successfully (may be empty)
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      category_id        AS CategoryId,
      parent_category_id AS ParentCategoryId,
      category_name      AS CategoryName,
      description        AS Description,
      display_order      AS DisplayOrder
    FROM t_category
    WHERE is_active = 1
    ORDER BY display_order, category_name;

    SET @result_code    = 0;
    SET @result_message = 'Categories retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
