SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetQuizStatistics]
  @quiz_id        SMALLINT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetQuizStatistics
  -- Purpose   : Returns platform-wide statistics for a single
  --             quiz in two result sets: an attempt overview and
  --             a per-question difficulty breakdown.
  --             No user context — this is aggregate data across
  --             all users; intended for admin or analytics use.
  --             Result set 1 uses LEFT JOIN so quizzes with zero
  --             attempts still return a summary row (counts = 0,
  --             score aggregates = NULL).
  --             Result set 2 guards against division by zero in
  --             CorrectPercentage using NULLIF; questions never
  --             answered return NULL for CorrectPercentage rather
  --             than a divide-by-zero error.
  --             Questions are ordered by CorrectPercentage ASC
  --             (hardest first) for difficulty analysis.
  -- ============================================================
  -- Parameters:
  --   @quiz_id       - ID of the quiz to analyse
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Sets:
  --   #1 - Quiz attempt overview (1 row):
  --          QuizId              SMALLINT
  --          QuizTitle           VARCHAR
  --          TotalQuestions      TINYINT
  --          CategoryName        VARCHAR
  --          TotalAttempts       INT
  --          CompletedAttempts   INT
  --          AverageScore        DECIMAL   (completed attempts only; NULL if none)
  --          MinScore            DECIMAL   (completed attempts only; NULL if none)
  --          MaxScore            DECIMAL   (completed attempts only; NULL if none)
  --   #2 - Per-question difficulty (one row per question, hardest first):
  --          QuestionId          INT
  --          QuestionText        VARCHAR
  --          TimesAnswered       INT
  --          CorrectCount        INT
  --          CorrectPercentage   DECIMAL(5,2) (NULL if never answered)
  -- ============================================================
  -- Result Codes:
  --   0  - Statistics retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Result set 1: attempt overview (LEFT JOIN retains quizzes with no attempts)
    SELECT
      q.quiz_id                                                            AS QuizId,
      q.quiz_title                                                         AS QuizTitle,
      q.total_questions                                                    AS TotalQuestions,
      c.category_name                                                      AS CategoryName,
      COUNT(a.attempt_id)                                                  AS TotalAttempts,
      SUM(CASE WHEN a.is_completed = 1 THEN 1 ELSE 0 END)                 AS CompletedAttempts,
      AVG(CASE WHEN a.is_completed = 1 THEN a.score ELSE NULL END)        AS AverageScore,
      MIN(CASE WHEN a.is_completed = 1 THEN a.score ELSE NULL END)        AS MinScore,
      MAX(CASE WHEN a.is_completed = 1 THEN a.score ELSE NULL END)        AS MaxScore
    FROM t_quiz q
    INNER JOIN t_category           c ON c.category_id = q.category_id
    LEFT  JOIN t_user_quiz_attempt  a ON a.quiz_id     = q.quiz_id
    WHERE q.quiz_id = @quiz_id
    GROUP BY q.quiz_id, q.quiz_title, q.total_questions, c.category_name;

    -- Result set 2: per-question difficulty, hardest first
    SELECT
      q.question_id                                                        AS QuestionId,
      q.question_text                                                      AS QuestionText,
      COUNT(ua.user_answer_id)                                             AS TimesAnswered,
      SUM(CASE WHEN ua.is_correct = 1 THEN 1 ELSE 0 END)                  AS CorrectCount,
      CAST(
        SUM(CASE WHEN ua.is_correct = 1 THEN 1 ELSE 0 END) * 100.0
        / NULLIF(COUNT(ua.user_answer_id), 0)
      AS DECIMAL(5,2))                                                     AS CorrectPercentage
    FROM t_question q
    LEFT JOIN t_user_answer ua ON ua.question_id = q.question_id
    WHERE q.quiz_id = @quiz_id
    GROUP BY q.question_id, q.question_text
    ORDER BY CorrectPercentage ASC;

    SET @result_code    = 0;
    SET @result_message = 'Quiz statistics retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
