SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_GetTopicDetails]
  @topic_id       INT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_GetTopicDetails
  -- Purpose   : Returns full details for a single topic including
  --             prev/next navigation links and breadcrumb data.
  --             Only H3/H4 topics (heading_level IN (3,4)) are
  --             considered for prev/next — H1/H2 are structural
  --             headings, not navigable content topics.
  --             FileName is a zero-padded composite key:
  --               MMMMM-LLLLL-TTTTT  (module / lesson / topic)
  --             CROSS APPLY is used to resolve prev/next once
  --             per query instead of six repeated correlated
  --             subqueries.
  --             Returns result code -1 (not 1) for not-found to
  --             distinguish a missing topic from a business-rule
  --             rejection in the calling layer.
  -- ============================================================
  -- Parameters:
  --   @topic_id      - ID of the topic to retrieve
  --   @user_id       - ID of the authenticated user (for IsRead)
  --   @result_code    OUT - 0 = success, -1 = topic not found,
  --                         99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Set (1 row on success):
  --   TopicId              INT
  --   TopicTitle           VARCHAR
  --   HeadingLevel         TINYINT
  --   FileName             VARCHAR   (MMMMM-LLLLL-TTTTT)
  --   IsRead               BIT
  --   PreviousTopicId      INT       (NULL if none)
  --   PreviousTopicTitle   VARCHAR   (NULL if none)
  --   PreviousFileName     VARCHAR   (NULL if none)
  --   NextTopicId          INT       (NULL if none)
  --   NextTopicTitle       VARCHAR   (NULL if none)
  --   NextFileName         VARCHAR   (NULL if none)
  --   ModuleId             SMALLINT
  --   ModuleName           VARCHAR
  --   LessonId             SMALLINT
  --   LessonTitle          VARCHAR
  --   ParentTopicTitle     VARCHAR   (NULL for H3; parent H3 title for H4)
  -- ============================================================
  -- Result Codes:
  --   0  - Topic details retrieved successfully
  --  -1  - No topic found with the supplied topic_id
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    DECLARE @lesson_id     SMALLINT;
    DECLARE @module_id     SMALLINT;
    DECLARE @display_order SMALLINT;

    -- Resolve lesson and display_order for the requested topic
    SELECT
      @lesson_id     = lesson_id,
      @display_order = display_order
    FROM t_topic
    WHERE topic_id = @topic_id;

    IF @lesson_id IS NULL
    BEGIN
      SET @result_code    = -1;
      SET @result_message = 'Topic not found';
      RETURN;
    END

    -- Resolve module from lesson
    SELECT @module_id = module_id
    FROM t_lesson
    WHERE lesson_id = @lesson_id;

    -- Return topic details with navigation and breadcrumb
    SELECT
      -- Current topic
      t.topic_id                                          AS TopicId,
      t.topic_title                                       AS TopicTitle,
      t.heading_level                                     AS HeadingLevel,
      FORMAT(@module_id,  '00000') + '-' +
      FORMAT(@lesson_id,  '00000') + '-' +
      FORMAT(t.topic_id,  '00000')                        AS FileName,
      CASE WHEN rt.topic_id IS NOT NULL
           THEN CAST(1 AS BIT)
           ELSE CAST(0 AS BIT) END                        AS IsRead,
      -- Previous navigable topic (H3/H4, nearest lower display_order)
      prev.topic_id                                       AS PreviousTopicId,
      prev.topic_title                                    AS PreviousTopicTitle,
      FORMAT(@module_id,    '00000') + '-' +
      FORMAT(@lesson_id,    '00000') + '-' +
      FORMAT(prev.topic_id, '00000')                      AS PreviousFileName,
      -- Next navigable topic (H3/H4, nearest higher display_order)
      nxt.topic_id                                        AS NextTopicId,
      nxt.topic_title                                     AS NextTopicTitle,
      FORMAT(@module_id,   '00000') + '-' +
      FORMAT(@lesson_id,   '00000') + '-' +
      FORMAT(nxt.topic_id, '00000')                       AS NextFileName,
      -- Breadcrumb
      @module_id                                          AS ModuleId,
      m.module_name                                       AS ModuleName,
      @lesson_id                                          AS LessonId,
      l.lesson_title                                      AS LessonTitle,
      parent.topic_title                                  AS ParentTopicTitle  -- NULL for H3; parent H3 for H4
    FROM t_topic t
    INNER JOIN t_lesson l         ON l.lesson_id       = t.lesson_id
    INNER JOIN t_module m         ON m.module_id       = l.module_id
    LEFT  JOIN t_user_topic_read rt ON rt.topic_id     = t.topic_id
                                   AND rt.user_id      = @user_id
    LEFT  JOIN t_topic parent     ON parent.topic_id   = t.parent_topic_id
    -- Previous navigable topic resolved once via CROSS APPLY
    OUTER APPLY (
      SELECT TOP 1 topic_id, topic_title
      FROM t_topic
      WHERE lesson_id     = @lesson_id
        AND display_order < @display_order
        AND heading_level IN (3, 4)
      ORDER BY display_order DESC
    ) prev
    -- Next navigable topic resolved once via OUTER APPLY
    OUTER APPLY (
      SELECT TOP 1 topic_id, topic_title
      FROM t_topic
      WHERE lesson_id     = @lesson_id
        AND display_order > @display_order
        AND heading_level IN (3, 4)
      ORDER BY display_order ASC
    ) nxt
    WHERE t.topic_id = @topic_id;

    SET @result_code    = 0;
    SET @result_message = 'Topic details retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
