SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_LogoutUser]
  @token          VARCHAR(512),
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_LogoutUser
  -- Purpose   : Terminates a user session by deleting the session
  --             record matching the supplied access token.
  -- ============================================================
  -- Parameters:
  --   @token         - Active access token identifying the session
  --   @result_code    OUT - 0 = success, 1 = session not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Session deleted, user logged out successfully
  --   1  - No active session found for the supplied token
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    DELETE t_session
    WHERE token = @token;

    IF @@ROWCOUNT = 0
    BEGIN
      SET @result_code = 1;
      SET @result_message = 'Session not found';
      RETURN;
    END

    SET @result_code = 0;
    SET @result_message = 'Logged out successfully';
  END TRY
  BEGIN CATCH
    SET @result_code = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
