SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_MarkLessonRead]
  @user_id        INT,
  @lesson_id      SMALLINT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_MarkLessonRead
  -- Purpose   : Records that a user has read a lesson using an
  --             upsert pattern: updates read_date if a record
  --             already exists, otherwise inserts a new one.
  --             This ensures read_date always reflects the most
  --             recent visit without creating duplicate rows.
  --             Returns result code 1 if the lesson does not
  --             exist or is inactive.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the authenticated user
  --   @lesson_id     - ID of the lesson being marked read
  --   @result_code    OUT - 0 = success, 1 = lesson not found,
  --                         99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Lesson marked as read successfully
  --   1  - Lesson not found or inactive
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Validate lesson exists and is active
    IF NOT EXISTS (SELECT 1 FROM t_lesson WHERE lesson_id = @lesson_id AND is_active = 1)
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'Lesson not found';
      RETURN;
    END

    -- Upsert: refresh read_date on revisit, insert on first read
    UPDATE t_user_lesson_read
    SET read_date = GETUTCDATE()
    WHERE user_id  = @user_id
      AND lesson_id = @lesson_id;

    IF @@ROWCOUNT = 0
      INSERT t_user_lesson_read (user_id, lesson_id)
      VALUES (@user_id, @lesson_id);

    SET @result_code    = 0;
    SET @result_message = 'Lesson marked as read';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
