SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_ResetPassword]
  @email          VARCHAR(254),
  @password_hash  VARCHAR(255),
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_ResetPassword
  -- Purpose   : Updates the password hash for a user identified
  --             by email. Intended to be called after the reset
  --             link / token has already been verified upstream.
  -- ============================================================
  -- Parameters:
  --   @email         - Email address identifying the user
  --   @password_hash - New bcrypt/argon2 hash to store
  --   @result_code    OUT - 0 = success, 1 = user not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Password reset successfully
  --   1  - No user found with the supplied email
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SET @email = LTRIM(RTRIM(@email));

    UPDATE t_user
    SET password_hash = @password_hash
    WHERE email = @email;

    IF @@ROWCOUNT <> 1
    BEGIN
      SET @result_code = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    SET @result_code = 0;
    SET @result_message = 'Password reset successfully';
  END TRY
  BEGIN CATCH
    SET @result_code = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
