SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_RefreshToken]
  @refresh_token     VARCHAR(512),
  @new_token         VARCHAR(512),
  @new_refresh_token VARCHAR(512),
  @new_expiry_date   DATETIME2,
  @user_id           INT OUTPUT,
  @user_name         NVARCHAR(96) OUTPUT,
  @role_name         VARCHAR(64) OUTPUT,
  @result_code       INT OUTPUT,
  @result_message    NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_RefreshToken
  -- Purpose   : Validates an existing refresh token and rotates
  --             both the access token and refresh token for the
  --             associated session.
  -- ============================================================
  -- Parameters:
  --   @refresh_token     - Current refresh token to validate
  --   @new_token         - Replacement access token
  --   @new_refresh_token - Replacement refresh token
  --   @new_expiry_date   - Expiry datetime for the new access token
  --   @user_id      OUT  - User ID resolved from the session
  --   @user_name    OUT  - User name resolved from the session
  --   @result_code  OUT  - 0 = success, 1 = invalid token, 99 = error
  --   @result_message OUT- Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Token refreshed successfully
  --   1  - Refresh token not found, expired, or session/user inactive
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    DECLARE @session_id INT;

    -- Find session by refresh token; both session and user must be active
    SELECT
      @session_id = s.session_id,
      @user_id    = s.user_id,
      @user_name  = u.user_name,
      @role_name  = r.role_name
    FROM t_session s
      INNER JOIN t_user u ON s.user_id = u.user_id
      INNER JOIN t_role r ON r.role_id = u.role_id
    WHERE s.refresh_token = @refresh_token
      AND s.is_active = 1
      AND u.is_active = 1;

    IF @session_id IS NULL
    BEGIN
      SELECT @result_code = 1, @result_message = 'Invalid refresh token';
      RETURN;
    END

    -- Rotate tokens and update last renewal timestamp
    UPDATE t_session
    SET
      token             = @new_token,
      refresh_token     = @new_refresh_token,
      expiry_date       = @new_expiry_date,
      last_renewed_date = GETUTCDATE()
    WHERE session_id = @session_id;

    SELECT @result_code = 0, @result_message = 'Token refreshed successfully';
  END TRY
  BEGIN CATCH
    SELECT @result_code = 99, @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
