SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_RegisterUser]
  @user_name NVARCHAR(96),  -- full name, not the user name to login.
  @email VARCHAR(254),
  @password_hash VARCHAR(255),
  @device_info VARCHAR(500),
  @new_user_id INT OUTPUT,
  @result_code INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    SET @user_name = LTRIM(RTRIM(@user_name))
    SET @email = LTRIM(RTRIM(@email))
    -- Validate username (full name) is provided
    IF ISNULL(@user_name,'') = ''
    BEGIN
      SET @result_code = 2;
      SET @result_message = 'Full name is required';
      RETURN;
    END
    SET @email = LTRIM(RTRIM(@email))
    -- Check if email already exists
    IF EXISTS (SELECT 1 FROM t_user WHERE email = @email)
    BEGIN
      SET @result_code = 1;
      SET @result_message = 'Email already registered';
      RETURN;
    END
    -- Generate a unique positive INT user_id not already in t_user
    SET @new_user_id = NULL;
    WHILE @new_user_id IS NULL OR EXISTS (SELECT 1 FROM t_user WHERE user_id = @new_user_id)
      SELECT @new_user_id = ABS(CHECKSUM(NEWID())) % 2147483647 + 1;
    INSERT t_user (
      user_id,
      user_name,  -- Stores full name (FirstName LastName)
      email,
      password_hash,
      is_active,
      created_date,
      role_id
    )
    VALUES (
      @new_user_id,
      @user_name,     -- Full name provided by user
      @email,
      @password_hash,
      0,              -- Not active until email confirmed
      GETUTCDATE(),
      2
    );
    SET @result_code = 0;
    SET @result_message = 'Registration successful. Please check your email to confirm your account.';
  END TRY
  BEGIN CATCH
    SET @new_user_id = NULL;
    SET @result_code = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
