SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_RequestAccountDeletion]
  @email          VARCHAR(254),
  @token          VARCHAR(255),
  @ip_address     VARCHAR(64),
  @user_id        INT OUTPUT,
  @user_email     VARCHAR(254) OUTPUT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_RequestAccountDeletion
  -- Purpose   : Initiates an account deletion request by storing
  --             a one-time token to be verified later by
  --             sp_ConfirmAccountDeletion. Deliberately returns
  --             the same result regardless of whether the email
  --             exists — this prevents timing-based enumeration
  --             of registered addresses.
  --             Any previously unused deletion tokens for the
  --             same email are invalidated before the new one is
  --             inserted, ensuring only one active token exists
  --             at a time. Token expires after 24 hours.
  -- ============================================================
  -- Parameters:
  --   @email         - Email address submitted by the requester
  --   @token         - One-time token generated by the caller
  --   @ip_address    - Client IP for audit/abuse tracking
  --   @user_id        OUT - Resolved user ID (NULL if not found)
  --   @user_email     OUT - Confirmed email on record (NULL if not found)
  --   @result_code    OUT - 0 = request recorded, 1 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Request recorded (email may or may not exist)
  --   1  - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  SET @user_id    = NULL;
  SET @user_email = NULL;

  BEGIN TRY
    -- Look up active user by email (NULL outputs retained if not found)
    SELECT @user_id    = user_id,
           @user_email = email
    FROM t_user
    WHERE email     = @email
      AND is_active = 1;

    -- Invalidate any existing unused tokens for this email
    UPDATE t_account_deletion_requests
    SET used_at = GETUTCDATE()
    WHERE email      = @email
      AND used_at    IS NULL
      AND expires_at > GETUTCDATE();

    -- Insert new token (always, even when user not found — prevents timing attacks)
    INSERT INTO t_account_deletion_requests (user_id, email, token, expires_at, ip_address)
    VALUES (@user_id, @email, @token, DATEADD(HOUR, 24, GETUTCDATE()), @ip_address);

    SET @result_code    = 0;
    SET @result_message = 'If an account with that email exists, a deletion link has been sent.';
  END TRY
  BEGIN CATCH
    SET @result_code    = 1;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
