SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_ResumeQuizAttempt]
  @attempt_id     SMALLINT,
  @user_id        INT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_ResumeQuizAttempt
  -- Purpose   : Returns the state needed to resume an in-progress
  --             quiz attempt. The attempt must belong to the
  --             requesting user and must not yet be completed —
  --             this acts as both the ownership and status check.
  --             Two result sets are returned: the attempt header
  --             (score, progress counters, last question) and the
  --             list of already-answered question IDs so the
  --             client can skip them and resume from where the
  --             user left off.
  --             Returns an empty result set 1 (not result code 1)
  --             if the attempt is not found, not owned by the
  --             user, or already completed — the caller should
  --             treat an empty first result set as "not resumable".
  -- ============================================================
  -- Parameters:
  --   @attempt_id    - ID of the attempt to resume
  --   @user_id       - ID of the authenticated user (ownership check)
  --   @result_code    OUT - 0 = success, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Sets:
  --   #1 - Attempt header (1 row if resumable, empty if not):
  --          attempt_id        SMALLINT
  --          quiz_id           SMALLINT
  --          started_date      DATETIME2
  --          last_question_id  INT       (last question seen; NULL if none yet)
  --          correct_answers   INT
  --          total_questions   TINYINT
  --          score             DECIMAL(5,2)
  --   #2 - Already-answered question IDs (0 or more rows):
  --          question_id       INT
  -- ============================================================
  -- Result Codes:
  --   0  - Resume data retrieved successfully
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Result set 1: attempt header (empty if not found / completed / not owned)
    SELECT
      attempt_id,
      quiz_id,
      started_date,
      last_question_id,
      correct_answers,
      total_questions,
      score
    FROM t_user_quiz_attempt
    WHERE attempt_id   = @attempt_id
      AND user_id      = @user_id
      AND is_completed = 0;

    -- Result set 2: question IDs already answered in this attempt
    SELECT question_id
    FROM t_user_answer
    WHERE attempt_id = @attempt_id;

    SET @result_code    = 0;
    SET @result_message = 'Resume data retrieved successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
