SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_StartQuizAttempt]
  @user_id         INT,
  @quiz_id         SMALLINT,
  @attempt_id      SMALLINT OUTPUT,
  @total_questions TINYINT OUTPUT,
  @result_code     INT OUTPUT,
  @result_message  NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_StartQuizAttempt
  -- Purpose   : Validates that a quiz exists and is active, then
  --             creates a new attempt record for the user.
  --             total_questions is copied from t_quiz at attempt
  --             creation time so the attempt record is self-
  --             contained even if the quiz is later modified.
  --             Returns the new attempt_id via output parameter
  --             for use in subsequent sp_SubmitQuizAnswer calls.
  -- ============================================================
  -- Parameters:
  --   @user_id         - ID of the authenticated user
  --   @quiz_id         - ID of the quiz to attempt
  --   @attempt_id       OUT - Identity of the newly created attempt row
  --   @total_questions  OUT - Question count snapshotted from t_quiz
  --   @result_code      OUT - 0 = success, 1 = quiz not found, 99 = error
  --   @result_message   OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Attempt created successfully
  --   1  - Quiz not found or inactive
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Validate quiz exists and is active
    IF NOT EXISTS (SELECT 1 FROM t_quiz WHERE quiz_id = @quiz_id AND is_active = 1)
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'Quiz not found';
      RETURN;
    END

    -- Snapshot total_questions from quiz definition
    SELECT @total_questions = total_questions
    FROM t_quiz
    WHERE quiz_id = @quiz_id;

    -- Create new attempt record
    INSERT INTO t_user_quiz_attempt (user_id, quiz_id, total_questions, is_completed)
    VALUES (@user_id, @quiz_id, @total_questions, 0);

    SET @attempt_id     = SCOPE_IDENTITY();
    SET @result_code    = 0;
    SET @result_message = 'Quiz attempt started successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
