SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_UpdatePassword]
  @user_id          INT,
  @new_password_hash VARCHAR(255),
  @result_code      INT OUTPUT,
  @result_message   NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_UpdatePassword
  -- Purpose   : Updates the password hash for a user identified
  --             by user_id. Intended to be called after the
  --             current password has already been verified
  --             upstream (e.g. by sp_VerifyPassword).
  -- ============================================================
  -- Parameters:
  --   @user_id           - ID of the user whose password is changing
  --   @new_password_hash - New bcrypt/argon2 hash to store
  --   @result_code    OUT - 0 = success, 1 = user not found, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Password updated successfully
  --   1  - No user found with the supplied user_id
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    UPDATE t_user
    SET password_hash = @new_password_hash
    WHERE user_id = @user_id;

    IF @@ROWCOUNT <> 1
    BEGIN
      SET @result_code = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    SET @result_code = 0;
    SET @result_message = 'Password changed successfully';
  END TRY
  BEGIN CATCH
    SET @result_code = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT