SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_UpdateUserProfile]
  @user_id        INT,
  @email          VARCHAR(254),
  @phone          VARCHAR(17),
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_UpdateUserProfile
  -- Purpose   : Updates email and phone for an active user.
  --             Guards against unknown/inactive user_id and
  --             duplicate email or phone across other accounts.
  --             Phone duplicate check is skipped when @phone
  --             is NULL (phone is optional).
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the user to update
  --   @email         - New email address
  --   @phone         - New phone number (optional, pass NULL to clear)
  --   @result_code    OUT - 0 = success, 1 = user not found,
  --                         2 = email in use, 3 = phone in use,
  --                         99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Profile updated successfully
  --   1  - No active user found with the supplied user_id
  --   2  - Email address is already in use by another account
  --   3  - Phone number is already in use by another account
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SET @email = LTRIM(RTRIM(@email));
    SET @phone = LTRIM(RTRIM(@phone));

    -- Validate user exists and is active
    IF NOT EXISTS (SELECT 1 FROM t_user WHERE user_id = @user_id AND is_active = 1)
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    -- Check for duplicate email (excluding current user)
    IF EXISTS (SELECT 1 FROM t_user WHERE email = @email AND user_id <> @user_id)
    BEGIN
      SET @result_code    = 2;
      SET @result_message = 'Email already in use';
      RETURN;
    END

    -- Check for duplicate phone (excluding current user; skipped if phone is NULL)
    IF @phone IS NOT NULL AND EXISTS (SELECT 1 FROM t_user WHERE phone = @phone AND user_id <> @user_id)
    BEGIN
      SET @result_code    = 3;
      SET @result_message = 'Phone number already in use';
      RETURN;
    END

    UPDATE t_user
    SET
      email = @email,
      phone = @phone
    WHERE user_id = @user_id;

    SET @result_code    = 0;
    SET @result_message = 'Profile updated successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT