SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_UpdateUserRole]
  @user_id        INT,
  @role_id        TINYINT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_UpdateUserRole
  -- Purpose   : Assigns a new role to a user. Intended for admin
  --             use only — authorization must be enforced by the
  --             caller before invoking this procedure.
  --             Validates both user_id and role_id exist before
  --             applying the change.
  -- ============================================================
  -- Parameters:
  --   @user_id       - ID of the user whose role is being changed
  --   @role_id       - ID of the new role to assign
  --   @result_code    OUT - 0 = success, 1 = user not found,
  --                         2 = invalid role, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Role updated successfully
  --   1  - No user found with the supplied user_id
  --   2  - No role found with the supplied role_id
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    -- Validate user exists
    IF NOT EXISTS (SELECT 1 FROM t_user WHERE user_id = @user_id)
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'User not found';
      RETURN;
    END

    -- Validate role exists
    IF NOT EXISTS (SELECT 1 FROM t_role WHERE role_id = @role_id)
    BEGIN
      SET @result_code    = 2;
      SET @result_message = 'Invalid role';
      RETURN;
    END

    UPDATE t_user
    SET role_id = @role_id
    WHERE user_id = @user_id;

    SET @result_code    = 0;
    SET @result_message = 'User role updated successfully';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
