SET ANSI_NULLS ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_ValidateToken]
  @token          VARCHAR(255),
  @user_id        INT OUTPUT,
  @user_name      VARCHAR(24) OUTPUT,
  @role_id        TINYINT OUTPUT,
  @role_name      VARCHAR(32) OUTPUT,
  @result_code    INT OUTPUT,
  @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
  -- ============================================================
  -- Procedure : sp_ValidateToken
  -- Purpose   : Validates an access token by joining session,
  --             user, and role tables. A token is considered
  --             valid only when the session is active, not
  --             expired, and the owning user is also active.
  --             Returns user identity and role on success.
  -- ============================================================
  -- Parameters:
  --   @token         - Access token to validate
  --   @user_id        OUT - User ID resolved from the session
  --   @user_name      OUT - Display name of the token owner
  --   @role_id        OUT - Numeric role assigned to the user
  --   @role_name      OUT - Human-readable role label
  --   @result_code    OUT - 0 = success, 1 = invalid/expired, 99 = error
  --   @result_message OUT - Human-readable outcome message
  -- ============================================================
  -- Result Codes:
  --   0  - Token valid; user identity and role returned
  --   1  - Token not found, session inactive, expired, or user inactive
  --   99 - Unexpected SQL error (see @result_message)
  -- ============================================================
  SET NOCOUNT ON;
  BEGIN TRY
    SELECT
      @user_id   = u.user_id,
      @user_name = u.user_name,
      @role_id   = u.role_id,
      @role_name = r.role_name
    FROM t_session s
    INNER JOIN t_user u ON s.user_id  = u.user_id
    INNER JOIN t_role r ON u.role_id  = r.role_id
    WHERE s.token       = @token
      AND s.is_active   = 1
      AND s.expiry_date > GETUTCDATE()
      AND u.is_active   = 1;

    IF @user_id IS NULL
    BEGIN
      SET @result_code    = 1;
      SET @result_message = 'Invalid or expired token';
      RETURN;
    END

    SET @result_code    = 0;
    SET @result_message = 'Token is valid';
  END TRY
  BEGIN CATCH
    SET @result_code    = 99;
    SET @result_message = ERROR_MESSAGE();
  END CATCH
END
GO

--END OF SCRIPT
